.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec

# Ignore bundler config.
/.bundle
/vendor/bundle
/log/*
/tmp/*

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore coverage

/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
 No newline at end of file
/db/*.sqlite3-journal

